@use 'colors';
%btn {
    border: none;
    border-radius: 0.25 REM;
    box-shadow: inset 0 -5px 00 rgbA (0, 0, 0, 0.15);
    color: #ffff;
    font: 1rem/1.5 Arial, Helvetica, sans-serif;
    padding: 0.5rem 1rem;
    user-select: none;
    transition: text-shadow 0.3s, bacground-color 0.3s, box-shadow 0.3 ease-in-out;
    white-space: nowrap;

    &:hover {
        text-shadow: 0 0 1px #fff;

        box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15), 0 5px 11px rgba(0, 0, 0, 0.2);
    }
}

.btn--success {
    @extend %btn;
    background-color: colors.$success;

    &:hover {
        background-color: colors.$success-dark;
    }
}
.btn--warning {
    @extend %btn;
    background-color: colors.$warning;

    &:hover {
        background-color: colors.$warning-dark;
    }
}
.btn--danger {
    @extend %btn;
    background-color: colors.$danger;

    &:hover {
        background-color: colors.$danger-dark;
    }
}
